<style>
body{
    background-color: #F3DEBA;
}
hr{
    height: 2px;
    margin: 2px;
    background-color: white;
}


h1{
 color: #A9907E;


}
h3{
    color: #A9907E;


}
</style>
